services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: handsonb-php
    volumes:
      - .:/var/www/html
      - ./public/uploads:/var/www/html/public/uploads
    ports:
      - "8001:8000"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: handsonb-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      # host:container
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: handsonb-phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql          # connect to the mysql service
      PMA_USER: ${MYSQL_USER}  # handson_user
      PMA_PASSWORD: ${MYSQL_PASSWORD}  # handson
    ports:
      - "8081:80"
    depends_on:
      - mysql

  mailer:
    image: axllent/mailpit
    container_name: handsonb-mailpit
    restart: unless-stopped
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  db_data:
