{% extends 'base.html.twig' %}

{% block title %}Edit Exhibition{% endblock %}

{% block body %}
<div class="min-h-screen p-8 text-white">
    <div class="max-w-xl mx-auto">
        <h1 class="text-4xl font-bold mb-6">Edit Exhibition</h1>

        {% include 'exhibition/_form.html.twig' with {form: form, exhibition: exhibition, button_label: 'Update'} %}
    </div>
</div>
{% endblock %}
